

/* gloobal css */
body {
    font-family:"Poppins", sans-serif;
    margin:0;
}
h4 {
    color:#FABE4C;
    font-weight:bold;
}
.card {
    margin:10px 0;
}

/* website section style */
.header {
    background-color:#FFFBF0;
}
.navbar {
    background:transparent !important;
}
.navbar img {
    width:290px;
}
.nav-link {
    padding:10px 30px !important;
}

/* header banner */
.header-banner span {
    color:#FABE4C;
}
.custom-button {
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-radius: 10px;
    color:white;
}

/* women-jacket */
.card{
    border-radius:20px !important;
}

/* perfect-fit */
.perfect-fit .card img {
    width:78px;
}


@media (max-width:992px) {
    .perfect-fit .card img {
        width:50px;
    }
    .perfect-fit .card h5 {
        font-size:20px;
    }
}

@media (max-width:768px) {
    .header-banner .row{
        flex-flow:column-reverse;
        text-align:center;
    }
    .perfect-fit .row {
        flex-flow:column-reverse;
    }
    .navbar img {
        width:200px;
    }
}


@media (max-width:576px) {
    .perfect-fit .card .card-body {
        flex-flow:column;
        text-align:center;
    }
    .perfect-fit .card-image {
        margin-bottom:20px;
    }
}